<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- Database setting -->
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property><!-- Version MySQL -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/qlthanhvien?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">4</property>    <!-- Số lượng kết nối: 1 đến 10 -->
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>  <!-- Phân chia luồng  -->
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> 
        <property name="hibernate.hbm2dll.auto">create-drop</property>
        <!-- Show all executed SQL to console -->
        <property name="show_sql">true</property> <!-- KHi chạy code thì hiển thị lệnh -->
        <!-- Entity mapping -->
        <mapping class="hibernatemember.DAL.ThanhVien" />          
        <mapping class="hibernatemember.DAL.ThietBi" />        
        <mapping class="hibernatemember.DAL.ThongTinSuDung" />  
        <mapping class="hibernatemember.DAL.XuLy" />  

        <!--<mapping resource = "Member.hbm.xml"/>  Ánh xạ file CSDL có thể dùng class cũng được-->
    </session-factory>
</hibernate-configuration>